In [181]:
import numpy as np
import pandas as pd
import random
from enum import Enum
from datetime import datetime, timedelta

In [4]:
class Currency(Enum):
  USD = ("USD", 1.0)         # United States Dollar (USD per USD)
  AED = ("AED", 0.27)        # UAE Dirham (AED per USD)
  INR = ("INR", 83.31)       # Indian Rupee (INR per USD)
  JPY = ("JPY", 151.62)      # Japanese Yen (JPY per USD)
  CNY = ("CNY", 7.23)        # Chinese Yuan (CNY per USD)
  SGD = ("SGD", 1.35)        # Singapore Dollar (SGD per USD)
  AUD = ("AUD", 1.52)        # Australian Dollar (AUD per USD)
  CAD = ("CAD", 1.36)        # Canadian Dollar (CAD per USD)
  MXN = ("MXN", 16.46)       # Mexican Peso (MXN per USD)
  EUR = ("EUR", 0.92)        # Euro (EUR per USD)
  GBP = ("GBP", 0.79)        # British Pound Sterling (GBP per USD)
  CHF = ("CHF", 0.90)        # Swiss Franc (CHF per USD)
  SEK = ("SEK", 10.67)       # Swedish Krona (SEK per USD)

In [5]:
class City(Enum):
  PUNE = ("Pune", Currency.INR)
  TOKYO = ("Tokyo", Currency.JPY)
  DUBAI = ("Dubai", Currency.AED)
  SYDNEY = ("Sydney", Currency.AUD)
  SHANGHAI = ("Shanghai", Currency.CNY)
  SINGAPORE = ("Singapore", Currency.SGD)
  NEW_DELHI = ("New Delhi", Currency.INR)
  MUMBAI = ("Mumbai", Currency.INR)
  NEW_YORK = ("New York", Currency.USD)
  LOS_ANGELES = ("Los Angeles", Currency.USD)
  LONDON = ("London", Currency.GBP)
  PARIS = ("Paris", Currency.EUR)
  BERLIN = ("Berlin", Currency.EUR)

In [6]:
class Amount(Enum):
  INR_1k = 1000
  INR_5k = 5000
  INR_10k = 10_000
  INR_50k = 50_000
  INR_100k = 100_000
  INR_500k = 500_000
  INR_1m = 1_000_000
  INR_5m = 5_000_000
  INR_10m = 10_000_000


class AmountRange(Enum):
  LOW = (Amount.INR_1k, Amount.INR_5k, Amount.INR_10k)
  MEDIUM = (Amount.INR_10k, Amount.INR_50k, Amount.INR_100k)
  HIGH = (Amount.INR_100k, Amount.INR_500k, Amount.INR_1m)
  MAX = (Amount.INR_1m, Amount.INR_5m, Amount.INR_10m, None)

In [7]:
def get_random_amount(amount_range: AmountRange):
  return random.choice(amount_range.value)


get_random_amount(AmountRange.MAX)

In [8]:
class TransactionType(Enum):
  WITHDRAWAL = "Withdrawal"  # Money withdrawn from an account
  DEPOSIT = "Deposit"        # Money deposited into an account
  TRANSFER = "Transfer"      # Money transferred from one account to another
  PAYMENT = "Payment"        # Payment made for goods or services

In [9]:
class TransactionChannel(Enum):
  ATM = "ATM"                        # Cash withdrawals
  ONLINE_BANKING = "Online Banking"  # Banking via web
  UPI = "UPI"                        # Real-time payment system (India)
  POS = "POS"                        # Retail transactions
  BANK = "Bank"                      # Generic bank transactions


class TransactionChannelMaxAmount(Enum):
  ATM = AmountRange.MEDIUM
  ONLINE_BANKING = AmountRange.HIGH
  UPI = AmountRange.MEDIUM
  POS = AmountRange.HIGH
  BANK = AmountRange.MAX

In [10]:
class CardType(Enum):
  CREDIT_CARD = "Credit Card"    # Borrow funds for purchases
  DEBIT_CARD = "Debit Card"      # Deducts money from checking account
  PREPAID_CARD = "Prepaid Card"  # Pre-loaded funds for purchases
  NA = "NA"                      # Not Applicable/Available


class CardTypeMaxAmount(Enum):
  CREDIT_CARD = AmountRange.MEDIUM
  DEBIT_CARD = AmountRange.MEDIUM
  PREPAID_CARD = AmountRange.LOW
  NA = AmountRange.LOW

In [11]:
class PaymentApp(Enum):
  WHATSAPP_PAY = "WhatsApp Pay"  # Transaction via WhatsApp Pay
  PAYTM = "Paytm"                # Transaction via Paytm
  PHONEPE = "PhonePe"            # Transaction via PhonePe
  GOOGLE_PAY = "Google Pay"      # Transaction via Google Pay
  ALIPAY = "Alipay"              # Transaction via Alipay (China)
  WECHAT_PAY = "WeChat Pay"      # Transaction via WeChat Pay (China)
  PAYPAL = "PayPal"              # Transaction via PayPal
  NA = "NA"                      # Not Applicable/Available


class PaymentAppMaxAmount(Enum):
  WHATSAPP_PAY = AmountRange.LOW
  PAYTM = AmountRange.MEDIUM
  PHONEPE = AmountRange.MEDIUM
  GOOGLE_PAY = AmountRange.MEDIUM
  ALIPAY = AmountRange.MEDIUM
  WECHAT_PAY = AmountRange.MEDIUM
  PAYPAL = AmountRange.MEDIUM
  NA = AmountRange.MEDIUM


class PaymentAppCategory(Enum):
  CHINESE_APPS = [PaymentApp.ALIPAY, PaymentApp.WECHAT_PAY]
  UPI_APPS = [PaymentApp.WHATSAPP_PAY, PaymentApp.PHONEPE, PaymentApp.PAYTM]
  GLOBAL_APPS = [PaymentApp.GOOGLE_PAY, PaymentApp.PAYPAL]


class CityPaymentApp(Enum):
  PUNE = [PaymentAppCategory.UPI_APPS, PaymentAppCategory.GLOBAL_APPS]
  TOKYO = [PaymentAppCategory.CHINESE_APPS, PaymentAppCategory.GLOBAL_APPS]
  DUBAI = [PaymentAppCategory.GLOBAL_APPS]
  SYDNEY = [PaymentAppCategory.GLOBAL_APPS]
  SHANGHAI = [PaymentAppCategory.CHINESE_APPS,
              PaymentAppCategory.GLOBAL_APPS]
  SINGAPORE = [PaymentAppCategory.GLOBAL_APPS]
  NEW_DELHI = [PaymentAppCategory.UPI_APPS, PaymentAppCategory.GLOBAL_APPS]
  MUMBAI = [PaymentAppCategory.UPI_APPS, PaymentAppCategory.GLOBAL_APPS]
  NEW_YORK = [PaymentAppCategory.GLOBAL_APPS]
  LOS_ANGELES = [PaymentAppCategory.GLOBAL_APPS]
  LONDON = [PaymentAppCategory.GLOBAL_APPS]
  PARIS = [PaymentAppCategory.GLOBAL_APPS]
  BERLIN = [PaymentAppCategory.GLOBAL_APPS]

In [12]:
class MerchantCategory(Enum):
  RETAIL = "Retail"                       # Physical goods
  ONLINE_SERVICES = "Online Services"     # Online services
  ECOMMERCE = "E-commerce"                # Online marketplaces
  DINING = "Dining"                       # Restaurants and cafes
  ENTERTAINMENT = "Entertainment"         # Venues for entertainment
  TRANSPORT = "Transport"                 # Transportation services
  HEALTHCARE = "Healthcare"               # Healthcare services
  TRAVEL = "Travel"                       # Travel agencies
  EDUCATION = "Education"                 # Educational services
  FINANCIAL = "Financial"                 # Financial institutions
  REAL_ESTATE = "Real Estate"             # Real estate services
  NA = "NA"                               # Not Applicable/Available
  OTHERS = "Others"                       # Other merchant categories


class MerchantAmountRange(Enum):
  RETAIL = (AmountRange.LOW, AmountRange.MEDIUM)
  ONLINE_SERVICES = (AmountRange.LOW, AmountRange.MEDIUM)
  ECOMMERCE = (AmountRange.LOW, AmountRange.MEDIUM)
  DINING = (AmountRange.LOW, AmountRange.MEDIUM)
  ENTERTAINMENT = (AmountRange.LOW, AmountRange.MEDIUM)
  TRANSPORT = (AmountRange.LOW, AmountRange.MEDIUM)
  TRAVEL = (AmountRange.LOW, AmountRange.MEDIUM)
  HEALTHCARE = (AmountRange.LOW, AmountRange.HIGH)
  EDUCATION = (AmountRange.LOW, AmountRange.HIGH)
  FINANCIAL = (AmountRange.MEDIUM, AmountRange.MAX)
  REAL_ESTATE = (AmountRange.HIGH, AmountRange.MAX)
  NA = (None, None)
  OTHERS = (None, None)

In [13]:
df = pd.DataFrame({
    'timestamp': [],             # Date and time of transaction
    'transaction_id': [],        # Unique identifier for each transaction
    'account_id': [],            # Unique identifier for the bank account
    'amount': [],                # Monetary value of the transaction
    'currency': [],              # Currency of the transaction
    'city': [],                  # City where the transaction occurred
    'transaction_type': [],      # Nature or category of the transaction
    'transaction_channel': [],   # Channel through which the transaction was made
    'card_type': [],             # Type of card used for the transaction
    'payment_app': [],           # Payment app used for the transaction
    'merchant_id': [],           # Unique identifier for the merchant
    'merchant_category': [],     # Category of the merchant
})

In [126]:
def stochastic_shift(base, variance):
  return base + base * random.uniform(-variance, +variance)


stochastic_shift(100, 0.1)

107.1824626604439

In [127]:
def variance_split(total, num_parts, variance):
  base_each = total / num_parts
  final_parts = [stochastic_shift(base=base_each, variance=variance)
                 for _ in range(num_parts)]
  return final_parts


variance_split(1000, 10, 0.1)

[107.03314622704447,
 103.44583626112258,
 96.07795771773243,
 100.244026122302,
 102.21545814903341,
 103.68390009504097,
 90.65433495208626,
 98.43126527080855,
 107.54890458307148,
 99.65284084315496]

In [128]:
def inr_to_currency(inr_amount, to_currency):
  usd_amount = inr_amount / Currency.INR.value[1]
  converted_amount = usd_amount * to_currency.value[1]
  return converted_amount


inr_to_currency(1000, Currency.USD)
inr_to_currency(1000, Currency.EUR)
inr_to_currency(1000, Currency.JPY)

12.003360941063498

11.043092065778419

1819.9495858840476

In [133]:
def print_object(obj):
  class_name = obj.__class__.__name__
  attributes = ", ".join(
      [f"{key}={value}" for key, value in obj.__dict__.items()])
  print(f"{class_name}({attributes})")

In [134]:
class CustomerProfile:
  def __init__(self, city, transaction_capacity):
    self.city = city
    self.transaction_capacity = transaction_capacity

In [139]:
customer_profiles = []

for city in City:
  for amount_range in AmountRange:
    for _ in range(int(stochastic_shift(100, 0.1))):
      customer_profiles.append(CustomerProfile(city, amount_range))

len(City) * len(AmountRange) * 100
len(customer_profiles)
print_object(customer_profiles[0])

5200

5246

CustomerProfile(city=City.PUNE, transaction_capacity=AmountRange.LOW)

In [230]:
[int(stochastic_shift(50, 0.5)) for _ in range(len(customer_profiles))]

[27,
 42,
 61,
 66,
 62,
 38,
 37,
 32,
 43,
 58,
 69,
 34,
 36,
 43,
 34,
 58,
 59,
 60,
 31,
 70,
 65,
 56,
 68,
 69,
 62,
 56,
 70,
 54,
 46,
 63,
 47,
 54,
 60,
 58,
 72,
 28,
 31,
 61,
 30,
 38,
 46,
 27,
 29,
 29,
 55,
 69,
 39,
 54,
 61,
 50,
 55,
 43,
 47,
 70,
 59,
 28,
 64,
 52,
 52,
 31,
 57,
 35,
 72,
 29,
 63,
 63,
 62,
 64,
 66,
 74,
 64,
 71,
 48,
 29,
 33,
 42,
 57,
 33,
 59,
 71,
 73,
 37,
 49,
 30,
 49,
 41,
 64,
 68,
 49,
 41,
 59,
 32,
 69,
 72,
 64,
 56,
 43,
 70,
 52,
 72,
 54,
 40,
 51,
 54,
 38,
 71,
 73,
 74,
 51,
 58,
 27,
 64,
 31,
 67,
 51,
 58,
 34,
 55,
 67,
 64,
 69,
 35,
 35,
 69,
 66,
 40,
 30,
 73,
 63,
 64,
 50,
 39,
 41,
 31,
 42,
 42,
 26,
 27,
 57,
 61,
 53,
 31,
 60,
 57,
 72,
 73,
 61,
 71,
 69,
 66,
 30,
 29,
 45,
 43,
 47,
 44,
 61,
 42,
 26,
 51,
 58,
 58,
 39,
 65,
 73,
 40,
 46,
 46,
 73,
 53,
 31,
 72,
 57,
 40,
 26,
 65,
 72,
 56,
 66,
 25,
 54,
 26,
 56,
 55,
 67,
 73,
 73,
 29,
 57,
 41,
 48,
 40,
 37,
 42,
 43,
 61,
 25,
 69,
 53,
 58,
 74,
 31,
 38,
 50,
 38,
 62,
 68,
 53,
 65,
 44,
 53,
 36,
 71,
 67,
 59,
 63,
 66,
 36,
 27,
 62,
 48,
 26,
 68,
 52,
 35,
 37,
 29,
 46,
 26,
 68,
 30,
 47,
 39,
 55,
 68,
 25,
 53,
 59,
 66,
 52,
 56,
 52,
 59,
 66,
 45,
 29,
 30,
 66,
 58,
 27,
 37,
 45,
 26,
 28,
 63,
 61,
 51,
 44,
 55,
 67,
 64,
 34,
 43,
 55,
 55,
 67,
 36,
 58,
 44,
 27,
 70,
 36,
 34,
 74,
 66,
 26,
 51,
 50,
 44,
 45,
 72,
 31,
 67,
 42,
 46,
 46,
 58,
 62,
 53,
 64,
 62,
 51,
 30,
 52,
 36,
 39,
 56,
 38,
 70,
 68,
 54,
 55,
 34,
 54,
 70,
 25,
 35,
 54,
 54,
 55,
 30,
 45,
 54,
 49,
 70,
 69,
 49,
 28,
 64,
 47,
 37,
 27,
 74,
 70,
 70,
 53,
 34,
 25,
 42,
 58,
 53,
 64,
 64,
 39,
 49,
 72,
 66,
 48,
 48,
 56,
 31,
 51,
 61,
 46,
 26,
 34,
 69,
 69,
 29,
 34,
 41,
 43,
 54,
 31,
 69,
 61,
 41,
 42,
 70,
 72,
 39,
 67,
 27,
 66,
 43,
 53,
 59,
 68,
 72,
 27,
 68,
 50,
 57,
 47,
 73,
 26,
 32,
 45,
 50,
 59,
 57,
 33,
 69,
 58,
 53,
 42,
 47,
 65,
 49,
 42,
 48,
 26,
 64,
 49,
 64,
 29,
 54,
 64,
 41,
 70,
 32,
 53,
 33,
 41,
 46,
 34,
 48,
 26,
 31,
 69,
 56,
 41,
 47,
 48,
 37,
 54,
 67,
 29,
 32,
 33,
 73,
 34,
 37,
 69,
 32,
 45,
 33,
 50,
 58,
 48,
 70,
 63,
 58,
 73,
 48,
 70,
 61,
 69,
 40,
 37,
 25,
 25,
 73,
 47,
 50,
 57,
 27,
 51,
 54,
 65,
 66,
 31,
 61,
 62,
 38,
 72,
 47,
 54,
 30,
 51,
 56,
 41,
 31,
 51,
 28,
 57,
 35,
 62,
 74,
 28,
 60,
 35,
 51,
 25,
 46,
 39,
 33,
 28,
 32,
 73,
 62,
 71,
 37,
 72,
 43,
 53,
 45,
 49,
 73,
 48,
 38,
 71,
 54,
 56,
 47,
 59,
 37,
 63,
 41,
 73,
 64,
 43,
 61,
 58,
 74,
 61,
 32,
 74,
 54,
 30,
 45,
 33,
 47,
 34,
 50,
 43,
 41,
 44,
 42,
 26,
 70,
 30,
 41,
 62,
 66,
 55,
 54,
 34,
 72,
 41,
 54,
 70,
 34,
 67,
 47,
 58,
 54,
 58,
 60,
 51,
 30,
 62,
 54,
 56,
 60,
 47,
 64,
 61,
 59,
 69,
 32,
 61,
 70,
 64,
 47,
 40,
 74,
 52,
 47,
 27,
 47,
 42,
 60,
 52,
 59,
 70,
 26,
 73,
 66,
 36,
 45,
 50,
 63,
 40,
 62,
 27,
 63,
 31,
 71,
 58,
 52,
 48,
 29,
 68,
 62,
 58,
 45,
 73,
 34,
 40,
 57,
 34,
 70,
 43,
 44,
 31,
 58,
 65,
 31,
 59,
 31,
 25,
 51,
 31,
 33,
 35,
 33,
 36,
 33,
 58,
 29,
 66,
 61,
 53,
 47,
 73,
 68,
 63,
 31,
 39,
 43,
 66,
 40,
 28,
 43,
 37,
 38,
 49,
 34,
 51,
 47,
 42,
 70,
 73,
 27,
 59,
 31,
 38,
 65,
 71,
 56,
 57,
 26,
 60,
 42,
 73,
 47,
 61,
 71,
 28,
 27,
 62,
 69,
 65,
 50,
 32,
 66,
 37,
 68,
 67,
 36,
 34,
 32,
 29,
 55,
 31,
 39,
 64,
 53,
 39,
 53,
 64,
 28,
 58,
 71,
 61,
 34,
 54,
 68,
 65,
 32,
 65,
 67,
 26,
 63,
 51,
 57,
 25,
 62,
 40,
 50,
 53,
 45,
 40,
 66,
 54,
 62,
 68,
 71,
 39,
 56,
 38,
 54,
 42,
 53,
 68,
 54,
 71,
 51,
 68,
 44,
 54,
 50,
 36,
 38,
 28,
 30,
 72,
 26,
 50,
 29,
 25,
 49,
 37,
 64,
 30,
 50,
 60,
 27,
 26,
 68,
 54,
 30,
 67,
 61,
 49,
 69,
 66,
 38,
 69,
 49,
 25,
 58,
 55,
 68,
 68,
 65,
 42,
 63,
 53,
 39,
 58,
 52,
 71,
 73,
 28,
 72,
 58,
 30,
 68,
 47,
 58,
 37,
 41,
 50,
 54,
 61,
 61,
 38,
 25,
 32,
 53,
 50,
 33,
 64,
 30,
 45,
 71,
 65,
 65,
 53,
 38,
 34,
 48,
 63,
 45,
 49,
 26,
 45,
 26,
 64,
 31,
 45,
 25,
 31,
 72,
 59,
 70,
 55,
 26,
 32,
 46,
 60,
 53,
 65,
 62,
 66,
 55,
 38,
 27,
 37,
 70,
 48,
 55,
 56,
 66,
 37,
 32,
 52,
 51,
 68,
 59,
 34,
 73,
 43,
 53,
 54,
 34,
 49,
 46,
 61,
 31,
 41,
 30,
 67,
 48,
 57,
 34,
 58,
 73,
 74,
 74,
 42,
 57,
 29,
 50,
 39,
 45,
 45,
 50,
 55,
 72,
 63,
 73,
 29,
 26,
 41,
 48,
 30,
 31,
 42,
 55,
 66,
 38,
 65,
 63,
 32,
 46,
 62,
 41,
 63,
 26,
 61,
 33,
 72,
 41,
 74,
 57,
 60,
 39,
 72,
 47,
 27,
 68,
 69,
 34,
 27,
 32,
 36,
 58,
 62,
 55,
 51,
 74,
 72,
 62,
 25,
 51,
 74,
 54,
 65,
 40,
 46,
 27,
 70,
 41,
 29,
 41,
 62,
 48,
 32,
 74,
 60,
 67,
 53,
 58,
 53,
 67,
 63,
 51,
 56,
 34,
 53,
 46,
 64,
 35,
 54,
 41,
 65,
 27,
 63,
 35,
 57,
 35,
 55,
 35,
 47,
 30,
 45,
 44,
 30,
 29,
 28,
 56,
 26,
 64,
 50,
 64,
 59,
 53,
 64,
 26,
 37,
 67,
 58,
 70,
 54,
 41,
 43,
 56,
 30,
 35,
 31,
 46,
 72,
 36,
 46,
 40,
 57,
 69,
 61,
 34,
 61,
 43,
 53,
 40,
 54,
 68,
 35,
 27,
 53,
 39,
 42,
 53,
 69,
 25,
 34,
 45,
 29,
 62,
 38,
 43,
 33,
 35,
 46,
 73,
 52,
 71,
 74,
 41,
 ...]

In [14]:
class TransactionProfile:
  def __init__(self, city, currency, amount_range_start, amount_range_end, transaction_type, transaction_channel, card_type, payment_app, merchant_category):
    self.city = city
    self.currency = currency
    self.amount_range_start = amount_range_start
    self.amount_range_end = amount_range_end
    self.transaction_type = transaction_type
    self.transaction_channel = transaction_channel
    self.card_type = card_type
    self.payment_app = payment_app
    self.merchant_category = merchant_category

In [231]:
customer_profile = customer_profiles[0]

city = customer_profile.city.value[0]
currency = customer_profile.city.value[1]

city
currency

'Pune'